/* GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #151515;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #dc3545;
}
   
body::-webkit-scrollbar-thumb {
    background-color: white;
}

.bold {
    font-weight: 700;
}

.gray-text {
    color: gray !important;
}

.init-hidden {
    visibility: hidden;
}

.contact-btn {
    width: 250px !important;
}

.btn:hover {
    position: relative;
    top: -1px;
    left: -1px;
    box-shadow: 1px 1px 0 white;
}

.btn:active {
    position: relative;
    top: 1px;
    box-shadow: none;
    left: 1px;
}




/* FONTS */
.rt, .cta, .hello, .subtext {
    font-family: 'Caveat', cursive;
}

/* NAVBAR & HERO */
.hero-container {
    height: 100vh !important;
    position:relative;
}

@media (min-width: 1200px){
    .desk-vid {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    
    .mob-vid {
        display: none;
    }
}

@media (max-width: 1200px){
    .mob-vid {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    
    .desk-vid {
        display: none;
    }
}

.nav-collapse-btn {
    background-color: white;
    border-radius: 5px;
}

.navbar-row {
    background-color: transparent;
}

.nav-link:hover {
    color: #dc3545 !important;
}

.rt:hover {
    color: #dc3545 !important;
}

/* ABOUT */
.rt-img {
    max-height: 700px;
}


/* EDUCATION */
.education {
    display: none;
}


/* SKILLS */
.skills {
    background-color: black;
}

.skills-img {
    max-width: 150px;
    min-width: 100px;
    display: flex;
    justify-content: center;
}



.project-img {
    box-shadow: 2px 2px 1px white;
    border: 3px solid black;
    border-radius: 10px;
}

.project-img:hover {
    position: relative;
    top: -4px;
    left: -4px;
    box-shadow: 4px 4px 1px white;
    border: 3px solid black;
    border-radius: 10px;
}
.project-img:active {
    position: relative;
    top: 4px;
    box-shadow: none;
    left: 4px;
}

@media (max-width: 1200px) {
    .place-holder {
        content: url("./images/coming-soon.png");
    }
    .weather-app {
        content: url("./images/weather-ext2.png");
    }
    .click-promo {
        content: url("./images/click-promo2.png");
    }
    .color-casino {
        content: url("./images/color-casino2.png");
    }
    .code-gen {
        content: url("./images/code-gen2.png");
    }
    .viral-videos {
        content: url("./images/viral-videos2.png");
    }
    .turdle {
        content: url("./images/turdle2.png");
    }
    .coin-genie {
        content: url("./images/coin-genie2.png");
    }
    .calc {
        content: url("./images/calc2.png");
    }
}

@media (min-width: 1200px) {
    .place-holder:hover {
        content: url("./images/coming-soon.png");
    }
    .weather-app:hover {
        content: url("./images/weather-ext2.png");
    }
    .click-promo:hover {
        content: url("./images/click-promo2.png");
    }
    .color-casino:hover {
        content: url("./images/color-casino2.png");
    }
    .code-gen:hover {
        content: url("./images/code-gen2.png");
    }
    .viral-videos:hover {
        content: url("./images/viral-videos2.png");
    }
    .turdle:hover {
        content: url("./images/turdle2.png");
    }
    .coin-genie:hover {
        content: url("./images/coin-genie2.png");
    }
    .calc:hover {
        content: url("./images/calc2.png");
    }
}


/* CONTACT */
#contact {
    background-color: black;
    background-image: url('./images/rt6.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90%;
}

@media (max-width: 1200px) {
    #contact {
      background-image: none !important;
    }
}

.resume:hover, .linkedin:hover, .github:hover {
    cursor: pointer;
    border-top: 2px solid white;
    background-color: #dc3545 !important;
    color: black !important;
}